<h1>Books#ddelete</h1>
<%= link_to('Home',{:action => 'home'}) %><br />
<%= link_to('Add Book',{:action => 'add_book'}) %><br />
<%= link_to('View Book',{:action => 'details'}) %><br />
<%= link_to('Update Book',{:action => 'update_book'}) %><br />
<%= link_to('Delete Book',{:action => 'delete'}) %><br />
