<%= link_to('Home',{:action => 'index'}) %><br />
<div class="book new">
  <h2>Create New Book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
    <tr>
        <th>Author</th>
        <td>
        <%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select :genre, ['Fiction', 'Non-Fiction', 'Biography', 'Mystery']%></td>
      </tr>
      <tr>
      <th>Price</th>
      <td><%= f.text_field(:price) %></td>
    </tr>  
    <tr>
    <th>Publishing Year</th>
    <td><%= f.text_field(:published_date) %></td>
  </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>

  <% end %>
</div>

